<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon & DMM & Google & YouTube 検索リンク生成</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app" class="container">
        <h1 class="h3 mt-4 mb-3">Amazon & DMM & Google & YouTube 検索リンク生成</h1>
        <div class="form-group">
<!--             <label for="searchTerms">検索ワード（コンマ区切り）:</label> -->
            <input id="searchTerms" type="text" class="form-control" v-model="searchTermsInput">
        </div>

        <div class="button-group">
            <button class="btn btn-primary" @click="generateLinks">リンクを生成する</button>
            <div class="checkbox-container">
                <input type="checkbox" id="shuffleToggle" v-model="shuffleEnabled" @change="updateDisplayedLinks">
                <label for="shuffleToggle">カードをシャッフルする</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="trustedSitesToggle" v-model="trustedSitesOnly" @change="updateDisplayedLinks">
                <label for="trustedSitesToggle" title="検索結果にsite:ac.jp OR site:ed.jp OR site:go.jp OR site:lg.jpを追加した状態でリンクを生成します">Google検索を信頼性高に</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3" v-for="(link, index) in displayedLinks" :key="index">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ link.searchTerm }}</h5>
                        <div class="card-links">
                            <a :href="link.amazonUrl" target="_blank" class="amazon-link">Amazonで検索する</a>
                            <a :href="link.dmmUrl" target="_blank" class="dmm-link">DMMで検索する</a>
                            <a :href="link.googleUrl" target="_blank" class="google-link">Googleで検索する</a>
                            <a :href="link.youtubeUrl" target="_blank" class="youtube-link">YouTubeで検索する</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
    <footer class="footer">
        <div class="container">
                <div class="mb-4">
            <p>どうしてもiPhoneでアプリが開いてしまう場合：<a href="https://www.google.com/search?q=iPhone+%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%81%A7%E9%96%8B%E3%81%8D%E3%81%9F%E3%81%84+%E3%82%A2%E3%83%97%E3%83%AA%E3%81%AB%E9%A3%9B%E3%81%B0%E3%81%AA%E3%81%84%E3%82%88%E3%81%86%E3%81%AB%E3%81%99%E3%82%8B">iPhoneでリンクを開くとアプリに飛ばないようにする方法を検索する</a></p>
        </div>
            <p>→<a href="../index.html">他のツール</a></p>
        </div>
    </footer>
</body>
</html>
